body{
	background-color: #fff6cc;
	font-family: 'Quicksand', sans-serif;
}

.banner{
	width: 100%;

}
.container {
	margin: 50px auto;
	width: 600px;
	padding: 20px;
	border: 1px solid   #B5CE7F;
	border-radius: 20px;
	box-shadow: 5px 5px 25px 10px  #98ad6a;
	background-color: #B5CE7F;
	font-size: 20px
}

h1 {
	text-align: center;
}

label {
	display: flex;
	align-items: center;
	margin-right: 10px;
	padding: 10px;
	border-radius: 20px;
    padding: 0.3em;
}

button {
	color: #000000;
	margin-left: 10px;
    border-radius: 1em;
	padding: 0.3em 20px;	
	text-align: center;
}

button:hover {
	color: rgb(255, 0, 0);	
	background: rgb(159, 159, 159);
	transform: scale(1.1);
}


.item_input{
	border-radius: 1em;	
	padding: 0.3em;
	padding-left: 15px;
}

.quantidade_input{
	border-radius: 1em;
	padding: 0.3em;	
	padding-left: 15px;
}

li {
	margin-top: 10px;
	list-style-type: none;
	text-transform: uppercase;
}

#lista{
	text-align: center;
}

.check {
	margin-right: 10px;
}

//@media(max-width: 768px) {
	
	body {
		flex-direction: column;
		text-align: center;
	}
	.container {
		flex-direction: column;
		text-align: center;
		display: 80%;
	}
}